body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    padding: 50px;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#alertButton {
    background-color: red;
    color: white;
}

#soundAlarm {
    background-color: black;
    color: white;
}
